/* html,body {
	height: 100%;
} */

body {
	color: rgb(27, 31, 0);
	font-size: 20px;
	font-family: Candara, Arial, Helvetica, sans-serif;
	background-color: rgb(250, 239, 224);
	margin: auto;
	/* display: flex; */
	align-items: center;
	justify-content: center;
	width: 1600px;
	/* height: 900px; */
}
/* 
.card {
	width: 1600px;
	height: 900px;
} */

.header {
	background-color: rgba(240, 157, 97, 0.7);
	display: flex;
	align-items: center;
	height: 145px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 50px;
	padding-left: 50px;
	border-top-left-radius: 70px;
	border-top-right-radius: 70px;
	box-shadow: 0px 5px 20px 0px rgba(82, 110, 121, 0.7);
}

.header-profile-img {
	width: 100x;
	height: 130px;
	margin-right: 20px;
	border: 50px;
}

.header-profile {
	color: rgb(255, 255, 255);
	line-height: 1.3;
}

.header-profile h1 {
	letter-spacing: 1.7px;
	margin: 0;
}

.header-profile div {
	letter-spacing: 1.2px;
}

.info {
	background-color: rgba(156, 214, 156, 0.685);
	display: flex;
	align-items: center;
	padding: 35px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	box-shadow: 0px 5px 20px 0px rgba(82, 110, 121, 0.7);
	text-align: justify;
}

.info-picture {
	margin-right: 40px;
	width: 35%;
}

.info-content {
	width: 100%;
}

.info-content h2 {
	padding-left: 450px;
}

.info-content h3 {
	padding-left: 255px;
}

.info h2 {
	margin: 0;
}

.info-headline span {
	color: rgb(0, 124, 225);
}

.info-signature {
	width: 150px;
}

.info-contact {
	margin-top: 15px;
	display: flex;
	align-items: center;
}

.info-contact-btn {
	color: rgb(255, 255, 255);
	font-weight: 700;
	text-decoration: none;
	background-color: rgb(0, 163, 225);
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 5px;
}

.info-contact-btn img {
	width: 40px;
	margin-right: 8px;
}

.info-contact-social {
	background-color: rgb(245, 245, 245);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	margin-left: 8px;
	border-radius: 40%;
}

.info-contact-social img {
	height: 30px;
}
